{% extends 'my_base.html' %}
{% load staticfiles %}

{% block title %}
    订单管理
{% endblock %}
{% block page_css %}

    <!--css类引用-->
    <link href="/static/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
    <link href="/static/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">

    <link href="/static/css/personal.css" rel="stylesheet" type="text/css">
    <link href="/static/css/orstyle.css" rel="stylesheet" type="text/css">

    <script src="/static/AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
    <script src="/static/AmazeUI-2.4.2/assets/js/amazeui.js"></script>
{% endblock %}
{% block page_main %}
    {% include 'include/order_01.html' %}
{% endblock %}







