{% extends 'base.html' %}
{% block title %}
    搜索界面
{% endblock %}
{% block page_main %}


    {% if page %}

        <ul class="am-avg-sm-2 am-avg-md-3 am-avg-lg-4 boxes">

            {% for shop in page %}
                <li>
                    <div class="list">
                        <a href="{% url 'detail' %}?sid={{ shop.object.shop_id }}"><img src="{{ shop.object.img_url }}"></a>
                        <p class="title fl">{{ shop.object.name }}</p>
                        <p class="price fl">
                            <b>¥</b>
                            <strong>{{ shop.object.promote_price }}</strong>
                        </p>
                        <p class="number fl">
                            销量<span>{{ shop.object.quantity }}</span>
                        </p>
                    </div>
                </li>
            {% endfor %}
        </ul>

    {% else %}
        <p>没有你要搜索的商品</p>
    {% endif %}


{% endblock %}


